apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  type: NodePort
  selector:
    app: gateway
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30000  # External access to API Gateway

