apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: asifmahmoud414/gateway-service:stag-7f665eac8ca146d3ed41dd132709d113548c7b5d
        ports:
        - containerPort: 3000
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
        env:
        - name: PORT
          value: "3000"
        - name: BACKEND_SERVICE_URL
          value: "http://api-service:8000"
        - name: PRODUCT_SERVICE_URL
          value: "http://product-service:8001"

